# dependencies
node_modules
.pnpm-store
**/node_modules

# builds
dist
build
coverage

# env
#.env
#.env.*
#apps/**/.env

# editor/OS
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# logs
*.log
logs
infra/db/*.log
infra/db/backups

# misc
.husky/_ # husky internal
.changeset
